<%- include('partials/_top') %>
    <script type="module" noonce>
        console.log('script loaded');
        let yearInput = document.querySelector('#year');
        document.querySelector('#year_form').addEventListener('submit', () => {
            if (yearInput.value === '2012') {
                alert('Congratulations!! Your answer was correct!  Welcome to the Super Power Club!');
                return true;
            }
            else return false;
        });
    </script>
    <!-- use type="module" bc they defer by default -->
<%- include('partials/_second_top') %>

<main class="hero">
    <div class="hero-content">
        <div class="max-w-md text-center">
            <h1 class="uppercase text-secondary italic text-2xl">Whoa!</h1>
            <h2 class="uppercase text-accent italic text-lg">
                You're not going to believe what's inside!
            </h2>
            <h3>Join the... </h3>
            <img src="/imgs/super_power_club.png" alt="super power club" class="mb-2">
            <h4 class="uppercase text-accent">Limited Time Offer!</h4>
            <p>For a Limited Time only you can join the 
             <span class="uppercase text-primary italic font-bold [text-shadow:-1px_0.5px_#f4290f]">
                    Super Power Club
             </span> by correctly answering the following Nintendo triva question!
            </p>
            <form id="year_form" class="form-control" action="/join-super-power-club" method="post">
                <label class="mb-2" for="year"><span>In what year was </span>
                    <img src='/imgs/nintendo_power.png' class="w-24 inline-block" 
                        alt='Nintendo Power'>
                <span> magazine discontinued?</span>
                </label>
                <input class="mb-2 input input-bordered" type="number" name="year" id="year" 
                    required>  
                <button class="btn btn-secondary" type="submit">
                    Join the Super Power Club!
                </button>
            </form>
        </div>
    </div>
</main>

<% include('partials/_bottom') %>