<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Super Power Club - <%= title %></title>
</head>
<body class="bg-base-200 min-h-screen">
    <header class="navbar flex justify-between">
      <div>
        <a href="/" class="btn btn-ghost md:text-xl">
          <img  class="w-40" src="/imgs/nintendo_power.png" alt="nintendo power">
        </a>
      </div>

      <nav class="hidden md:gap-x-4 md:flex" >
        <!-- the label el acts as a button to open the Log In modal as well -->
        <label for="log-in-modal" class="btn btn-secondary btn-sm modal-button md:btn-lg">
          Log In
        </label>

        <!-- the label el acts as a button to open the Sign Up modal as well -->
        <label for="sign-up-modal" class="btn btn-secondary btn-sm modal-button md:btn-lg">
          Sign Up
        </label>
      </nav>

      <nav class="dropdown dropdown-end md:hidden">
      <!-- <label tabindex="0"> is used instead of a <button> because Safari has a bug that prevents
         the button from being focused. -->
         <!-- Using tabindex="0" is required so the dropdown can be focused. -->
        <label tabindex="0" class="btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" 
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <label for="log-in-modal" class="modal-button">Log In</label>
          </li>
          <li>
            <label for="sign-up-modal" class="modal-button">Sign Up</label>
          </li>
          <% if (locals.user) { %>
          <li><a href='/join-super-power-club'>Join the Super Power Club!</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <%- include('partials/_login_modal') %>
    <%- include('partials/_signup_modal') %>

</body>
</html>